@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

body {
    background-color: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
}

.title-primary {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.text-primary {
    font-size: 1rem;
    line-height: 24px;
}

.text-primary-2 {
    font-size: 1rem;
    line-height: 20px;
}

.btn-primary {
    border: none;
    border-radius: 10000px;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 2.0s ease;
}

.btn-primary:active {
    transform: scale(1.5);
}


/* main style */

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.nav-logo {
    font-size: 2.25rem;
    font-weight: 700;
}

.nav-logo span{
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

.nav-mid-contents {
    display: flex;
    gap: 32px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.nav-btn-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger-menu {
    display: none;
}

/* banner section style */

/* .banner-top {
    position: relative;
}

.hero-bg {
    max-width: 100wh;
}

.hero-circle {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 625px;
} */

/* about section style */

.about-section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-section-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}

.about-section-top-title {
    margin-bottom: 16px;
}

.about-section-bottom {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    margin-bottom: 120px;

}

.about-section-card-title {
    color: #00FF88;
    margin-bottom: 16px;
}

/* why choose section */

.why-choose-section {
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 0 120px;
}

.why-choose-section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.why-choose-section-title {
    text-align: center;
}

.why-choose-section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
}

.why-choose-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.why-choose-card img {
    margin-bottom: 16px;
}

.why-choose-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-choose-card-box1 {
    grid-row: 1/3;
    padding: 160px 50px 160px ;
}

.why-choose-card-box2 {
    grid-column: 2/4;
    padding: 60px 50px 60px;
}

.why-choose-card-box3 {
    grid-column: 2/4;
    padding: 60px 50px 60px;
}

.why-choose-card-box4 {
    grid-column: 1/3;
    padding: 50px;
}

.why-choose-card-box5 {
    padding: 50px;
}

/* featured episode section */

.featured-episode-section {
    padding-top: 120px;
}

.featured-episode-section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.featured-episode-title {
    text-align: center;
}

.featured-episodes-cards {
    display: flex;
    gap: 30px;
}

.featured-card {
    max-width: 380px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 30px;
    position: relative;
}

.episode-img {
    max-width: 380px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

#play-btn {
    max-width: 100px;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
    position: absolute;
    top: 90px;
    left: 140px;
    transition: transform 2.0s ease;
}

#play-btn:active {
    transform: scale(1.5);
}

.featured-card-container {
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.episode-title {
    font-size: 1.5rem;
}

.duration-container {
    display: flex;
    gap: 6px;
}

.duration-icon {
    max-width: 20px;
    height: 20px;
}

.episode-duration {
    color: #00FF88;
}

/* host section style */

.host-section {
    max-width: 1200px;
    margin: 120px auto 0;
}

.host-section-title {
    text-align: center;
}

.host-section-bottom-container {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    gap: 24px;
    padding: 40px;
}

.host-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.host-description-container-title {
    font-size: 2rem;
    font-weight: 700;
}

.host-icon {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10px;
}

/* footer section */

footer {
    margin-top: 120px;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 120px;
    margin: 0 auto;
}

.footer-title {
    font-size: 4rem;
    font-weight: 700;
}

.footer-title span {
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

.footer-social-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
}

.footer-social {
    display: flex;
    gap: 8px;
}

.footer-social img {
    max-width: 20px;
    height: 20px;
}





/* media query */

@media screen and (max-width: 576px) {
    
    /* navbar style */

    .nav-mid-contents,
    .nav-btn {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }

    hr {
        margin: 0 auto;
    }

    /* banner section style */
/* 
    .banner-section {
        margin-top: 40px;
    }
    .banner-top {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .hero-bg {
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-circle {
        max-width: 180px;
        top: -10px;
        left: 125px;
    } */

    /* about section style */

    .about-section {
        padding: 20px;
    }
    .about-section-top {
        margin-bottom: 40px;
    }
    .about-section-top-title {
        font-size: 2rem;
    }
    .about-section-bottom {
        margin-top: 40px;
        margin-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* why choose section */

    .why-choose-section {
        padding: 0 20px;
    }
    .why-choose-section-title {
        font-size: 2rem;
    }
    .why-choose-section-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .why-choose-card-box1 {
        grid-row: auto;
        display: none;
    }

    .why-choose-card-box2 {
        grid-column: auto;
    }

    .why-choose-card-box3 {
        grid-column: auto;
    }

    .why-choose-card-box4 {
        grid-column: auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* featured episodes section style */

    .featured-episode-section {
        padding-top: 60px;
    }

    .featured-episode-title {
        font-size: 2rem;
    }

    .featured-episodes-cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    /* host section style */

    .host-section {
        margin-top: 60px;
    }

    .host-section-title {
        font-size: 2rem;
    }

    .host-section-bottom-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 40px;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    /* footer section */

    footer {
        margin-top: 60px;

        background-image: url(./assets/footer-bg.png);
        padding: 20px;
    }
    .footer-section {
        max-width: 400px;
        padding: 10px;
    }
    .footer-title {
        font-size: 2.5rem;
    }
    .footer-social-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;

    }
}