@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

body {
    background-color: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
}

.title-primary {
    font-size: 3rem;
    font-weight: 700;
}

.text-primary {
    font-size: 1rem;
    line-height: 24px;
}

.btn-primary {
    border: none;
    border-radius: 10000px;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 2.0s ease;
}

.btn-primary:active {
    transform: scale(1.5);
}


/* main style */

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.nav-logo {
    font-size: 2.25rem;
    font-weight: 700;
}

.nav-logo span{
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

.nav-mid-contents {
    display: flex;
    gap: 32px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.nav-btn-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger-menu {
    display: none;
}






/* media query */

@media screen and (max-width: 576px) {
    
    /* navbar style */
    .nav-mid-contents,
    .nav-btn {
        display: none;
    }
}