@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

body {
    background-color: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
}

.title-primary {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.text-primary {
    font-size: 1rem;
    line-height: 24px;
}

.text-primary-2 {
    font-size: 1rem;
    line-height: 20px;
}

.btn-primary {
    border: none;
    border-radius: 10000px;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 2.0s ease;
}

.btn-primary:active {
    transform: scale(1.5);
}


/* main style */

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.nav-logo {
    font-size: 2.25rem;
    font-weight: 700;
}

.nav-logo span{
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

.nav-mid-contents {
    display: flex;
    gap: 32px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.nav-btn-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger-menu {
    display: none;
}

/* banner section style */

/* .banner-top {
    position: relative;
}

.hero-bg {
    max-width: 100wh;
}

.hero-circle {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 625px;
} */

/* about section style */

.about-section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-section-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}

.about-section-top-title {
    margin-bottom: 16px;
}

.about-section-bottom {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

}

.about-section-card-title {
    color: #00FF88;
    margin-bottom: 16px;
}


/* media query */

@media screen and (max-width: 576px) {
    
    /* navbar style */

    .nav-mid-contents,
    .nav-btn {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }

    hr {
        margin: 0 auto;
    }

    /* banner section style */
/* 
    .banner-section {
        margin-top: 40px;
    }
    .banner-top {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .hero-bg {
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-circle {
        max-width: 180px;
        top: -10px;
        left: 125px;
    } */

    /* about section style */

    .about-section {
        padding: 20px;
    }
    .about-section-top {
        margin-bottom: 40px;
    }
    .about-section-top-title {
        font-size: 2rem;
    }
    .about-section-bottom {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

}